@import 'resources/sass/variables';

.alert-box {
    position: fixed;
    top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 91%;
    z-index: 3;
    border-radius: $border-radius;
    color: white;
    box-shadow: $shadow-medium;

    &.error {
        background-color: $error;
    }

    &.success {
        background-color: $success;
    }

    &.info {
        background-color: $primary;
    }
}
