@import 'resources/sass/variables';

.alert-box {
    position: fixed;
    top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid red;
    width: 91%;
    z-index: 3;
    border-radius: $border-radius;
}
