.custom-input {
    position: relative;
    width: 100%;

    .forgot-password {
        position: absolute;
        right: 0;
        top: 0.5rem;
        font-size: x-small;
        cursor: pointer;
    }
}
