@import 'resources/sass/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    box-shadow: $shadow-small;
    padding: 1rem;
    border-radius: $border-radius;
    margin: 1rem auto;

    &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        width: 100%;
        border: 1px solid blue;
    }
}
