@import 'resources/sass/variables';

.placeholder-image {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: $grey;
    position: relative;

    img {
        height: 10rem;
        width: 10rem;
        border-radius: $border-radius;
        object-fit: cover;
        object-position: center;
        margin: 1rem;
    }
}

small {
    color: $error;
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
}

img {
    height: 8rem;
    width: 8rem;
}

input {
    display: none;
}
