html, body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html {
    background: linear-gradient(rgb(244, 251, 255), rgb(225, 244, 254), rgb(244, 251, 255));
    height: 100vh;
}

body {
    padding: 1rem;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}
