@import 'resources/sass/variables';

nav {
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: $shadow-small-top;
    -moz-box-shadow: $shadow-small-top;
    box-shadow: $shadow-small-top;
    background-color: white;
    margin-left: -1rem; // this is to compensate for the 1rem padding on the body

    & > a, div {
        transition: border 0.15s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.1rem 0.7rem;
        border-bottom: 3px solid transparent;

        small {
            font-size: 0.6rem;
            transition: color 0.15s ease-in-out;
            color: $grey;
        }

        i {
            transition: scale 0.15s ease-in-out, color 0.15s ease-in-out;
            color: $light-grey;
        }

        &:active, &:focus {
            color: $primary;

            i {
                transform: scale(0.9);
                color: $primary;
            }
        }
    }

    .active-link {
        border-bottom: 3px solid rgb(0, 136, 255);
        color: rgb(0, 136, 255);

        & i, small {
            color: rgb(0, 136, 255);
        }
    }
}
