@import 'resources/sass/variables';

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .dual-inputs {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }
}

.meals {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 1rem;
    grid-row-gap: 2rem;
    margin-top: 2rem;

    .meal {
        border-radius: $border-radius;
        box-shadow: $shadow-medium;
        background-color: white;
        position: relative;
        padding: 0.5rem;
        padding-top: 4.5rem;
        margin-top: 2rem;

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -3rem;
            width: 7rem;
            height: 7rem;
            background-color: white;
            border-radius: 100%;
            left: 16%;
            box-shadow: $shadow-small;

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
                object-position: center;
            }
        }

        small {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-top: 0.5rem;
        }

        div:first-of-type {
            padding: 0 0.5rem;
            padding-bottom: 0.5rem;
        }

        &-details {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            margin-top: 1rem;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                small {
                    margin-top: 0.2rem;
                }
            }

            .small {
                font-size: 0.7rem;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $light-grey;
            padding: 0.5rem;

            span {
                color: $primary;
            }

            .delete {
                color: $error;
            }
        }
    }
}
