@import 'resources/sass/variables';

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    label {
        margin-bottom: 0.3rem;
        padding-left: 0.1rem;

        .indicator {
            &-required {
                color: $error;
                margin-left: 0.2rem;
            }

            &-optional {
                color: $grey;
                font-size: 0.5rem;
                margin-left: 0.2rem;
            }
        }
    }

    input {
        padding: 0.3rem;
        border-radius: $border-radius;
        outline: none;
        border: 1px solid $light-grey;
        font-size: 1.2rem;
        min-width: 12rem;

        &:focus {
            box-shadow: $shadow-medium;
            border-color: $grey;
            outline: 1px solid $primary;
        }

        &.error {
            border-color: $error;
        }
    }

    .error-message {
        color: $error;
        position: absolute;
        bottom: -1.1rem;
        padding-left: 0.1rem;
    }

    &.disabled {
        pointer-events: none;

        label {
          color: $grey;
        }

        input {
            background-color: $subtle-grey;
        }
    }
}
